* {
    list-style: none;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100px;
    background-image: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)),
        url(Informatica.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 1100px;
        font-family: 'Courier New', Courier, monospace;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3dvb;
    height: 100px;
    transition: all 0.9s ease;
    z-index: 30;
}

h1{
    color: white;
}

.logo{
    height: 80px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;  
    color: #f2f2f2;
}

#menu{
    display: none;
}

.menu-icono{
    width: 65px;
    height: 65px;
    display: none;
}

label{
    cursor: pointer;
}

.menu li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.5s ease;
    margin-left: 15px;
}

.menu li a:hover{
	padding: 5px 10px;
	background: #fff;
	color: black;
	border-radius: 15px;
}

@media (max-width:991px){

    .menu{
        padding: 30px;
        margin: 0;
    }

    .menu-icono{
        display: block;
        height: 70px;
        width: 70px;
    }

    label{
        display: initial;
    }

    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    .item{
        margin: 0 0 20px 0;
        width: 100%;
    }

    #menu:checked ~ .menu{
        display: initial;
    }

}

.noticias{
	text-align: center;
}

.carousel-entero{
    padding: 700px 0 0 40px;
}

.noticias{
    padding-right: 700px;
}

.noticias .carousel-entero{
    text-align: center;
}

.carousel{
    min-width: 300px;
    max-width: 700px;
}

.especialidades{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 70px 20px;
    width: 100%;
    height: auto;
}

.card{
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    transition:all 0.9s ease;
    height: 100%;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-4%);
    color: black;
    transition-delay: .3s;
}

a .card:hover{
    color: black;
}

.card img{
    width: 100%;
    height: 210px;
    padding: 0;
}

.info{
    padding: 15px;
    text-align: center;
}

.enlace-especialidad{
    text-decoration: none;
    color: black;
}

@media (max-width: 1024px) {
    .card {
      flex-basis: 45%; /* Dos columnas en pantallas medianas */
    }
  }
  
  @media (max-width: 768px) {
    .card {
      flex-basis: 100%; /* Una columna en pantallas pequeñas */
    }
  }

footer {
	background-color: black; 
	color: #fff; 
	padding: 20px;
	text-align: center;
}

