* {
    list-style: none;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100px;
    background-image: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)),
        url(Informatica.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 1100px;
        font-family: 'Courier New', Courier, monospace;
}



.informatica.jpg {
    height: 100px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    transition: all 0.9s ease;
    z-index: 30;
}

h1{
    color: white;
    max-width: 480px;
}

.logo{
    height: 50px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;  
    color: #f2f2f2;
}

#menu{
    display: none;
}

.menu-icono{
    width: 65px;
    height: 65px;
    display: none;
}

label{
    cursor: pointer;
}

.menu li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.5s ease;
    margin-left: 15px;
}

.menu li a:hover{
	padding: 5px 10px;
	background: #fff;
	color: black;
	border-radius: 15px;
}

@media (max-width:991px){

    .menu{
        padding: 30px;
        margin: 0;
    }

    h1{

    }

    .menu-icono{
        display: block;
        height: 70px;
        width: 70px;
    }

    label{
        display: initial;
    }

    .menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    .item{
        margin: 0 0 20px 0;
        width: 100%;
    }

    #menu:checked ~ .menu{
        display: initial;
    }

}

.noticias{
	text-align: center;
}

.carousel-entero{
    padding: 700px 0 0 40px;
}

.noticias{
    padding-right: 700px;
}

.noticias .carousel-entero{
    text-align: center;
}

.carousel{
    min-width: 300px;
    max-width: 700px;
}

.especialidades{
	width: 100%;
	display: flex;
	max-width: 1100px;
}

.card{
    display: flex;
    margin: 20px;
	width: 100%;
	border-radius: 15px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 1px 10px rgba(0,0,0,0.2);
	cursor: pointer;
    transition:all 0.9s ease;
}

.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-4%);
}

.card img{
	width: 100%;
	height: 210px;
	padding: 0;
}

.info{
	padding: 15px;
	text-align: center;
}

footer {
	background-color: black; 
	color: #fff; 
	padding: 20px;
	text-align: center;
}

